<div class="s-cart" open-trigger data-open-class="s-cart--open">
  <a href="#" id="trigger"><svg class="s-cart__icon" xmlns="http://www.w3.org/2000/svg" height="20" version="1.1" viewBox="0 0 20 20" width="20"><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-212.000000, -422.000000)"><g id="shopping-cart" transform="translate(212.000000, 422.000000)"><path d="M6 16C4.9 16 4 16.9 4 18 4 19.1 4.9 20 6 20 7.1 20 8 19.1 8 18 8 16.9 7.1 16 6 16L6 16ZM0 0L0 2 2 2 5.6 9.6 4.2 12C4.1 12.3 4 12.7 4 13 4 14.1 4.9 15 6 15L18 15 18 13 6.4 13C6.3 13 6.2 12.9 6.2 12.8L6.2 12.7 7.1 11 14.5 11C15.3 11 15.9 10.6 16.2 10L19.8 3.5C20 3.3 20 3.2 20 3 20 2.4 19.6 2 19 2L4.2 2 3.3 0 0 0 0 0ZM16 16C14.9 16 14 16.9 14 18 14 19.1 14.9 20 16 20 17.1 20 18 19.1 18 18 18 16.9 17.1 16 16 16L16 16Z" id="Shape"></path></g></g></g></svg></a>
  
  <div class="s-cart__wrapper">
    <span class="icon icon__x icon__x--dark" id="close"></span>
    
    <b class="s-cart__title">Shopping Cart</b>
        <ul class="s-cart__list" ng-if="!cartIsEmpty()">
          <li class="s-cart__listItem s-cart__listItem--header">
              <b>Item</b>
              <b>Amt.</b>
              <b>Price</b>  
          </li>
          <li class="s-cart__listItem" ng-repeat="(name, qty) in userProducts">
            <article class="m-product">
              <b class="m-product__title">{{name}}</b>
              <i class="m-product__qty">{{qty}}</i>
              <i class="m-product__price">{{productList[name].price | currency}}</i>
              <span ng-click="removeFromCart(name)" class="icon icon__x icon__x--accent">Remove All</span>
            </article>
          </li>
        </ul>

        <div ng-if="cartIsEmpty()">
          <b class="s-cart__empty">Cart is empty</b>
        </div>  
  </div>
</div>