.icon {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  vertical-align: middle;
  background-position: 50%;
  background-color: transparent;
  color: transparent;
  border: 0 none;
  cursor: pointer;
}

$thickness: 2px;
$length: 5px;

.icon__rArrow,
.icon__x,
.icon__plus {
  position: relative;
  width: $length + $thickness;

  &,
  &:before,
  &:after {
    @include transition(all 100ms ease-out);
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: $border-radius;
  }

  &:before {
    width: $thickness;
    height: $length * 2;
  }

  &:after {
    height: $thickness;
    width: $length * 2;
  }
}

.icon__x,
.icon__plus {
  height: $length + $thickness;
  border: 1px solid transparent;
  border-radius: 50%;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: $border-radius;
  }

  &:before {
    width: $thickness;
    height: $length * 2;

    margin-top: -$length;
    margin-left: -$thickness / 2;
  }

  &:after {
    height: $thickness;
    width: $length * 2;

    margin-top: -$thickness / 2;
    margin-left: -$length;
  }

  &:hover:before,
  &:hover:after {
    background-color: $color__white;
  }
}

.icon__x {
  &:before,
  &:after {
    @include transform(rotate(45deg));
  }
}

$iconsAndColors: (
  x--dark: $color__accent--dark, 
  x--accent: $color__accent, 
  plus--dark: $color__accent--dark,
  plus--accent: $color__accent
); 

@each $icon, $color in $iconsAndColors {
  @include iconColor($icon, $color);
}

