/* Mixin to prefix transitions */
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

/* Mixin to prefix transforms */
@mixin transform($transform...) {
    -moz-transform:    $transform;
    -o-transform:      $transform;
    -webkit-transform: $transform;
    transform:         $transform;
}

/*
  @mixin btnColor

  btnColor mixin to simplify specific btn declaration. Assumption is text color
  is white during default and hover states. This can be overwritten

  usage:
  @include btnColor(red, $color__red, $color__black);

  or overwriting text color:

  @include btnColor(white, $color__white, $color__red, $color__black, $color__white);

  yields:

  .btn--white {
    background-color: $color__white;
    color: $color__black;

    &:hover {
      background-color: $color__red;
      color: $color__white;
    }
  }
*/
@mixin btnColor($name, $background-color, $background-color--hover, $text-color: $color__white, $text-color--hover: $color__white) {
  .g-btn--#{$name} {
    background-color: $background-color;
    color: $text-color;

    &:hover {
      background-color: $background-color--hover;
      color: $text-color--hover;
    }
  }
}

/*
  @mixin iconColor

  mixin for declaring colors on generic, css-based icons using pseudocontent for 
  generation. Focus included for icon buttons 

  usage:
  @include iconColor(plus--accent, $color__accent);

  yields:

.icon__plus--accent,
.icon__plus--accent:focus {
  border-color: $color__accent;
  
  &:hover {
    background-color: $color__accent;
  }

  &:before,
  &:after {
    background-color: $color__accent;
  }
}
*/

@mixin iconColor($icon, $color) {
  .icon__#{$icon},
  .icon__#{$icon}:focus {
    border-color: $color;
  
    &:hover {
      background-color: $color;
    }

    &:before,
    &:after {
      background-color: $color;
    }
  }
}