$sans: 'Open Sans', sans-serif;
$serif: 'Shrikhand', cursive;

$font-weight__bold: 800;
$font-weight__semibold: 700;
$font-weight__medium: 600;
$font-weight__regular: 500;

@mixin sans($font-size, $line-height, $weight:400) {
  font: #{$weight} #{$font-size}px/#{$line-height}px $sans;
}

@mixin serif($font-size, $line-height, $weight:500) {
  font: #{$weight} #{$font-size}px/#{$line-height}px $serif;
}

@mixin display__large {
	@include serif(28,35);
	color: $color__display;
}

@mixin display__small {
	@include serif(21,24);
	color: $color__display;
}

@mixin sans__large {
	@include sans(21,24);
	color: $color__body;	
}

@mixin sans__medium {
	@include sans(17,24);
	color: $color__body;	
}

@mixin sans__small {
	@include sans(13,21);
}