// colors
$color__orange: #F15025;
$color__black: #191919;
$color__grey--medium: #CED0CE;
$color__grey--light: #E6E8E6;
$color__white: #ffffff;

$color__main: $color__grey--medium;
$color__accent: $color__grey--light;
$color__bg: $color__orange;
$color__accent--dark: $color__black;

$color__display: $color__main;
$color__display--dark: $color__accent--dark;
$color__body: $color__accent--dark;

$color__disabled: $color__accent--dark;
$color__bg--disabled: $color__main;

$color__error: $color__orange;

$color__stroke: $color__accent--dark;

// borders
$border__main: 1px solid $color__stroke;
$border__error: 1px solid $color__error;
$border-radius: 1px;

// column-info
$col-count: 12;
$container-width: 1024px;
$gutter-width: 10px;

// misc
$bezier: cubic-bezier(0, 0.5, 0, 1);