.m-product {
	@extend %clear_fix;

	@include col(12, 12, true);

	@include sans__small;

	&.m-product--disabled {
		background-color: $color__bg--disabled;
		color: $color__disabled;
		font-style: italic;
		opacity: 0.8;
	}
}

.m-product__title,
.m-product__qty,
.m-product__price {
	display: inline-block;

	padding-top: 8px;
	padding-bottom: 7px;
}

.m-product__qty,
.m-product__price {
	text-align: center;
}

.m-product__title {
	@include col(5.5, 12, true);

	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.m-product__qty {
	@include col(1.5, 12, true);	
}

.m-product__price {
	@include col(4, 12, true);	
}

.m-product__add {
	@include col(3, 12, true);	

	padding-top: $gutter-width / 2;
	
	.m-product--disabled & {
		display: none;
	}
}

.m-product__add .icon__plus {
	margin-left: $gutter-width;
}
