<div class="s-productForm" open-trigger data-open-class="s-productForm--open">
  <button class="g-btn g-btn--round g-btn--main" id="trigger">Add Product</button>  
  <div class="s-productForm__wrapper">
    <span class="icon icon__x icon__x--dark" id="close"></span>
    <form class="g-form" name="productForm" novalidate>
      <fieldset>
        <legend class="g-form__row g-form__title">Add Product</legend>
        <ol>
          <li class="g-form__row">
            <label class="g-form__label" for="product_name">Name <abbr title="required">*</abbr></label>
            <input class="g-form__input" type="text" name="product_name" ng-model="product.name" required>
            <div ng-show="productForm.$submitted">
              <em class="g-form__error" ng-show="productForm.product_name.$error.required">Please fill in.</em>
            </div>
          </li>
          <li class="g-form__row">
            <label class="g-form__label" for="product_price">Price<abbr title="required">*</abbr></label>
            <input class="g-form__input" type="number" name="product_price" ng-model="product.price" required>
            <div ng-show="productForm.$submitted">
              <em class="g-form__error" ng-show="productForm.product_price.$error.required">Please fill in.</em>
            </div>
          </li>
          <li class="g-form__row">
            <label class="g-form__label" for="product_stock">Quantity in stock<abbr title="required">*</abbr></label>
            <input class="g-form__input" type="number" name="product_stock" ng-model="product.stock" required>
            <div ng-show="productForm.$submitted">
              <em class="g-form__error" ng-show="productForm.product_stock.$error.required">Please fill in.</em>
            </div>
          </li>
          <li class="g-form__row" ng-show="productForm.$submitted">
            <em class="g-form__error">Please ensure all required fields are completed.</em>
          </li>
          <li class="g-form__row">
            <button class="g-btn g-btn--main" type="button" ng-click="addProduct(product)">Add</button>
          </li>
        </ol>
      </fieldset>
    </form>  
  </div>
</div>
