.s-cart {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 95%;

	padding-top: 42px;

	z-index: 1000;

	&.s-cart--open {
		@include col(4);
	}
}

.s-cart__icon {	
	cursor: pointer;
	vertical-align: middle;
}

.s-cart__icon g {
	fill: $color__main;
}

.s-cart__title {
	display: block;

	background-color: $color__bg;

	padding-top: 10px;
	padding-bottom: 10px;

	border-radius: $border-radius 0 0 ;

	@include display__small;
	color: $color__display--dark;
	text-align: center;
}

.s-cart__wrapper {
	position: fixed;
	right: 0;

	width: 350px;

	margin-top: $gutter-width;
	padding-top: $gutter-width * 2;
	padding-bottom: $gutter-width * 2;
	padding-left: $gutter-width * 2;

	background-color: $color__accent;

	border-top: $border__main;
	border-bottom: $border__main;
	border-left: $border__main;
	border-radius: $border-radius 0 0 $border-radius;

	overflow: hidden;

	@include transition(transform 50ms ease-out);
	@include transform(translateX(100%));

	.s-cart--open & {
		@include transform(translateX(0));
	}
}

.s-cart__listItem {
	@extend %clear_fix;

	&:not(:first-child) {
		border-top: $border__main;
	}
}

.s-cart__empty,
.s-cart__list {
	background-color: $color__white;

	border-radius: 0 0 0 $border-radius;
}

.s-cart__listItem--header {
	background-color: $color__accent--dark;
	@include sans__small;
	color: $color__white;
}

.s-cart__listItem--header b {
	text-align: center;
	&:nth-child(1) {
		@include col(5.5, 12, true);
	}

	&:nth-child(2) {
		@include col(1.5, 12, true);
	}

	&:nth-child(3) {
		@include col(4, 12, true);	
	}
}

.s-cart__empty {
	display: block;
	
	@include col(12, 12, true);

	padding-top: 8px;
	padding-bottom: 7px;

	@include sans__medium;
	font-style: italic;
}

.s-cart .icon__x {
	margin-top: 10px;
	&#close {
	  position: absolute;

	  top: 20px;
	  left: 30px;

	  z-index: 100;
	}
}

.s-cart .m-product__title {
	padding-left: $gutter-width;
}

.s-cart .m-product__qty {
	background-color: $color__main;
}

.s-cart .m-product__qty,
.s-cart .m-product__price{
	border-left: $border__main;
}

