.s-productList {
	@include container;

	margin-top: $gutter-width * 2;

	border: $border__main;
	border-radius: $border-radius;

	overflow: hidden;
}

.s-productList__item {
	@include row;

	&:not(:first-child) {
		border-top: $border__main;
	}
}

.s-productList__item--header {
	background-color: $color__accent--dark;

	@include display__small;
	color: $color__white;
}

.s-productList__item--header,
.s-productList .m-product {
	padding-top: $gutter-width;
	padding-bottom: $gutter-width;
}

.s-productList__item--header b:nth-child(1),
.s-productList .m-product__title {
	@include col(5, 12, true);
	padding-left: $gutter-width * 3;
}

.s-productList__item--header b:nth-child(2),
.s-productList__item--header b:nth-child(3),
.s-productList .m-product__price,
.s-productList .m-product__qty {
	text-align: left;
	@include col(2, 12, false);	
}