.s-productForm {
	position: fixed;

	bottom: 50px;
	left: 50px;

  height: 100px;
  width: 100px;
}

.s-productForm__wrapper {
  position: relative;
	width: $container-width / 2;

	background-color: $color__main;

	border: $border__main;
	border-radius: $border-radius;

	padding: $gutter-width  * 2;

	@include transform(translateY(100%));
	@include transition(transform 50ms ease-out);

	.s-productForm--open & {
		@include transform(translateY(-100%));
	}
}

.s-productForm .icon__x {
  position: absolute;

  top: 40px;
  right: 40px
}

.s-productForm .g-btn--round {
	height: 100px;
	width: 100px;

  @include sans__small;
  color: $color__white;
}

.s-productForm .g-form {
	padding-top: $gutter-width;
	padding-right: $gutter-width  * 2;
	padding-bottom: $gutter-width  * 2;
	padding-left: $gutter-width  * 2;

	background-color: $color__white;

	border-radius: $border-radius;
}

.s-productForm .g-form__title {
	color: $color__accent--dark;
}

.s-productForm .g-btn {
	display: block;
	margin-right: auto;
	margin-left: auto;
}