.g-btn {
  text-align: center;
  cursor: pointer;
  display: block;
  padding: $gutter-width 0 $gutter-width 0;
  min-width: 100px;
  white-space: nowrap;
  border: none;
  border-radius: $border-radius;
  -webkit-appearance: none;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;

  &:hover {
    @include transition(all 500ms ease-out);
  }

  &.g-btn--round {
    padding: 0;

    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
  }
}

@include btnColor('main', $color__main, $color__accent--dark, $color__body, $color__white);