.g-form {
	@include container;
}

.g-form__row {
	@include row;

	margin-top: $gutter-width;
	padding-top: $gutter-width;
}

.g-form__title {
	@include display__small;
	text-align: center;
}

.g-form__label {
	@include col(4, 7);
	@include sans__small;
}

.g-form__input {
	display: inline-block;
	@include col(3, 7);
	padding: $gutter-width / 2; 

	.ng-dirty &.ng-invalid.touched {
		border: $border__error;
	}
}

.g-form__error {
	display: block;

	@include sans__small;
	color: $color__error;
	font-style: italic;
	text-align: right;
}

.g-form .g-btn {
	display: block;
	margin-right: auto;
	margin-left: auto;

  	@include sans__small;
}