.g-header {
	position: relative;
	
	padding-top: 35px;
	padding-bottom: 35px;

	background-color: $color__bg;
	border-bottom: $border__main;
}

.g-header__title {
	@include display__large;
	text-align: center;
}