/* 
  Rudimentary grid classes
 */	

@mixin container {
  max-width: $container-width;
  
  padding-right: $gutter-width/2;
  padding-left: $gutter-width/2;

  margin-right: auto;
  margin-left: auto;
}

@mixin row {
  @extend %clear_fix;
  
  display: block;

  margin-right: -$gutter-width/2;
  margin-left: -$gutter-width/2;
}

@mixin col($span, $cols: $col-count, $gutters: false) {
  width: percentage($span / $cols); 
  float: left;

  @if ($gutters == true) {
    padding-right: $gutter-width/2;
    padding-left: $gutter-width/2;
  }
}