<ul class="s-productList">
  <li class="s-productList__item s-productList__item--header">
    <b>Item</b>
    <b>Price</b>
    <b>Stock</b>  
  </li>
  <li class="s-productList__item" ng-repeat="(name, productInfo) in productList">
    <article class="m-product" ng-class="{'m-product--disabled': productInfo.stock === 0}">
      <b class="m-product__title">{{name}}</b>
      <i class="m-product__price">{{productInfo.price | currency}}</i>
      <i class="m-product__qty">{{productInfo.stock}}</i>
      <form novalidate class="m-product__add">
        <input class="g-form__input" type="number" placeholder="amount to add" ng-model="qty" >
        <button class="icon icon__plus icon__plus--dark" ng-click="addToCart(name, qty); qty = null">Add to cart</button>  
      </form>
    </article>
  </li>
</ul>